.quest-option {
  padding: 10px 30px;
  background-color: #6b6b6b;
  cursor: pointer;
  border-radius: 10px;
}


.active {
  border: 1px solid #ff0000
}

.options {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.btn-game{
  padding: 5px 20px;
  color: #fff;
  font-size: 15px;  
  border-radius: 5px;
}

.level-check{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 2px solid #6b6b6b;
}

.listLevelItem:nth-child(odd){
  margin-right: -100%;
}


.listLevelItem::before{
  content: '';
  height: 60px;
  width: 60px;
  background: url('/src/assets/pedra.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;  
}

.listLevelItem:nth-child(even){  
  margin-left: -100%;
}

.listLevelItem:nth-child(odd)::before{    
  left: -40px;
}

.listLevelItem:nth-child(even)::before{  
  right: -30px;
}

.listLevelItem:first-child::before{  
  display: none;
}

.listLevelItem:last-child{  
  padding-bottom: 80px;
}

@media only screen and (max-width: 600px) {
  
.listLevelItem:nth-child(odd){
  margin-right: auto;
}

.listLevelItem:nth-child(even){  
  margin-left: auto;
}

.listLevelItem:nth-child(odd)::before{    
  left: 0px;
}

.listLevelItem:nth-child(even)::before{  
  right: 0px;
}
}